<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring4-2.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Blog</title>
</head>
<body>
    <div th:include="welcome-header :: welcome"></div>
    <h1>My Blog</h1>

    <div th:each="blogEntry: ${blogEntries}">
        <h2>
            <a href="#" th:href="@{/post/{permalink}(permalink=${blogEntry.permalink})}" th:text="${blogEntry.title}">Post Link</a>
        </h2>
        <div th:include="blog-entry :: blog-content"></div>
    </div>
</body>
</html>
